@page "/"

<PageTitle>Index</PageTitle>

<h1>Sveriges Shelterbookingside</h1>
<br><br/>

<h2>På siden Booking kan man booke shelters</h2>
<br><br/>
<h2>Og på Pedelsiden kan pedellen se en liste over bookings</h2>
